<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Pakistan hacker team">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="Zeeshan Raza">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Hacker Team</title>
</head>
<body>
  <div class='roompage'>
  <nav>
    <h1 class="wel-text">Welcome to Anonymous chat room</h1>
  </nav>
  <div class="container" id="container">
  </div>
  <div class="send">
    <form action="#" id="send-container">
      <input type="text" name="messageInp" id="messageInp" placeholder="write Something" autocomplete="off">
      <button class="btn"><i class="fa-solid fa-arrow-right"></i></button>
    </form>
  </div>
  </div>
  <script src="https://my-socket-server-io.herokuapp.com/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>